{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="text-center">
    <!-- <h1 class="text-3xl text-red-500">Welcome to the home page</h1> -->
    <div>
        <img class="w-full " src="https://img.freepik.com/free-vector/literature-book-club-twitch-banner-template_23-2149730151.jpg" alt="">
    </div>
    <!-- <h2 class="text-2xl">name : {{name}}</h2>
    <h2 class="text-2xl">age : {{age}}</h2>
    <h2 class="text-2xl">roll : {{roll}}</h2>
    <h2 class="text-2xl">author : {{author}}</h2> -->
</div>
  
{% endblock  %}